#main-table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 5%;
    
    
}
table,tr,td{
    border: 1px solid black;  
    
}
table tr td{
    padding: 2%;
    
    text-align: center;
}